@model Answer
    <a href="/QandA/Index">Back to Questions</a>
    <h6 style="color:red">@ViewBag.Message</h6>
<form action="/QandA/AnsSave" method="post">
    <fieldset>
        <legend>Add Answer</legend>
        <!--
    <p>
        <label><b>Username</b></label><br />
        <input type="text"
               name="username"
               value="@Model?.Username" />
    </p>-->
        <h3>@ViewBag.activeUser</h3>
        <p>
            <label><b>Description</b></label><br />
            <textarea name="detail"
                      rows="20"
                      cols="150">@Model?.Detail</textarea>
        </p>
        <br><br>
        <input type="hidden" name="username" value="@ViewBag.activeUser" />

        <input type="submit" value="Submit">
        @if (ViewBag.QuestionID != 0)
        {<input type="hidden" name="_questionid" value="@ViewBag.QuestionID" />}
        else
        {<input type="hidden" name="_questionid" value="@Model.QuestionID" />}
        <input type="hidden" name="_id" value="@Model?.id" />
    </fieldset>
</form>