@model Question
    <h6 style="color:red">@ViewBag.Message</h6>
    <a href="/QandA/Index">Back to Questions</a>

<form action="/QandA/Save" method="post">
    <fieldset>
        <legend>Edit Question</legend>
        <!--
    <p>
        <label><b>Username</b></label><br />
        <input type="text"
               name="username"
               value="" />
    </p>-->
        <h3>@ViewBag.activeUser</h3>
        <p>
            <label><b>Title</b></label><br />
            <input type="text"
                   name="title"
                   value="@Model.Title" />
        </p>
        <p>
            <label><b>Description</b></label><br />
            <textarea name="detail"
                      rows="20"
                      cols="150">@Model.Detail</textarea>
        </p>
        <br><br>
        <input type="hidden" name="_id" value="@Model.id" />
        <input type="hidden" name="username" value="@ViewBag.activeUser" />
        <input type="submit" value="Submit">
    </fieldset>
</form>